.none {
  display: none;
}

@keyframes my-fade-out-animation {
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes my-fade-in-animation {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes my-nav-out-animation {
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes my-nav-in-animation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}

nav {
  /* diamo un nome alla proprietà view-transition-name  */
  view-transition-name: my-nav;
}

/* questo selettore rappresenta lo snapshot "in uscita" */
::view-transition-old(root) {
  animation: 1s my-fade-out-animation;
}
/* questo selettore rappresenta lo snapshot "in entrata" */
::view-transition-new(root) {
  animation: 1s my-fade-in-animation;
}

/* posso creare altri selettori custom passando tra parentesi il nome di una proprietà view-transition-name */
::view-transition-old(my-nav) {
  animation: 1s my-nav-out-animation;
}
::view-transition-new(my-nav) {
  animation: 1s my-nav-in-animation;
}

article {
  padding: 10px;
  background-color: lightblue;
  max-width: 600px;
}
img {
  width: 100%;
  object-fit: cover;
}